/* Custom styles for Swiper navigation arrows and pagination */

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important; /* Force color to be white */
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  transition: background-color 0.2s;
}

/* Position arrows slightly outside the main content for better usability */
.swiper-button-prev {
  left: -10px !important;
}
.swiper-button-next {
  right: -10px !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: 900;
}

/* Style for the pagination bullets */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7) !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}