.ck-editor__editable_inline {
    
  min-height: 400px !important;
}

.editor-container__editor{
  width: 100%;
}

@media print {
  body {
    margin: 0 !important;
  }
}

:root {
  --ck-content-font-family: 'Lato';
}

/* Style all tables inside your blog/content area */
.blog-content table {
  border-collapse: collapse;
  width: 100%;
}

.blog-content th,
.blog-content td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.blog-content th {
  background: #ccc;
  font-weight: bold;
}
