@import "tailwindcss";


button{
cursor: pointer;
}

.big-cursor body,
.big-cursor body * {
  cursor: url('/cursors/big-cursor-default.svg') 0 0, auto;
}

/* Night Mode (Dark Theme) */
html.night-mode {
  /* This filter combination is a great way to create a dark theme
     without writing dozens of color override rules. */
  filter: invert(1) hue-rotate(180deg);
  background-color: #121212; /* This prevents a white "flash" on page load */
}

/* We must re-invert images, videos, and maps so they look normal in night mode. */
html.night-mode img,
html.night-mode video,
html.night-mode iframe {
  filter: invert(1) hue-rotate(180deg);
}
